label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  border: none;
  border: 2px solid lighten($dark, 25);
  padding: 15px 5px;
  font-size: 18px;
  color: $dark;
  outline: none;
}